<section id="subintro">
  <div class="jumbotron subhead" id="overview">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="centered">
            <h3>Contact us</h3>
            <p>
              Lorem ipsum dolor sit amet, modus salutatus honestatis ex mea. Sit cu probo putant. Nam ne impedit atomorum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul class="breadcrumb notop">
          <li><a href="#">Home</a><span class="divider">/</span>
          <li class="active">Contact us</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="maincontent">
  <div class="container">

    <div class="row">
      <div class="span12">
        <div class="divider">
        </div>
      </div>
    </div>

    <div class="row">
      <form action="#" method="post" class="contact-form" name="comment-form">
          <div class="span8">
            <label>Name <span>*</span></label>
            <input type="text" class="input-block-level" placeholder="Your name" />
          </div>
          <div class="span8">
            <label>Email <span>*</span></label>
            <input type="text" class="input-block-level" placeholder="Your email" />
          </div>

          <div class="span8">
            <label>Message <span>*</span></label>
            <textarea rows="9" class="input-block-level" placeholder="Your message"></textarea>
            <button class="btn btn-small btn-success" type="submit">Send a message</button>
          </div>

      </form>    </div>
    <div class="row">
      <div class="span4">
        <div class="well">
          <div class="centered">
            <i class="icon-circled icon-64 icon-mobile-phone active"></i>
            <h4>Call Us</h4>
            <div class="dotted_line">
            </div>
            <p>
              Monday to Friday 9.00 - 18.00
            </p>
            <p>
              Saturday 9.00 - 14.00
            </p>
            <p>
              Sunday Closed
            </p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="well">
          <div class="centered">
            <i class="icon-circled icon-64 icon-envelope active"></i>
            <h4>Email Us</h4>
            <div class="dotted_line">
            </div>
            <p>
              If you prefer Email. You can email us at info@rectasolutions.com
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
