

<header>
  <!-- Navbar
      ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="index.html">
          <img src="assets/img/logo.png" style="max-width: 17%" alt="" />
        </a>
        <!-- end logo -->
        <!-- top menu -->
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
                <a routerLink="">Home</a>
              </li>
              <li class= "dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a>Services</a>
                <ul  class="dropdown-menu">
                  <li><a routerLink="/aiServices">AI Services</a></li>
                  <li><a routerLink="/corporateManagementServices">Corporate Management Systems</a></li>
                </ul>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/products">Products</a>

              </li>

              <li  class="dropdown">
                <a>About Us</a>
                <ul routerLinkActive="active" class="dropdown-menu">
                  <li><a routerLink="/aboutus">Know Us</a></li>
                  <li><a href="">Team</a></li>
                  <li><a href="">Career</a></li>
                  <li><a href="">News</a></li>

                </ul>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/contact">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end menu -->
      </div>
    </div>
  </div>
</header>
