<footer class="footer">
<div class="container">
  <div class="row">
    <div class="span3">
      <div class="widget">
        <h5>Browse pages</h5>
        <ul class="regular">
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Our Team</a></li>
          <li><a href="#">Know Us</a></li>
          <li><a href="#">News</a></li>


        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="widget">
        <h5>Recent blog posts</h5>
        <ul class="regular">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Mea malis nominavi insolens ut</a></li>
          <li><a href="#">Minim timeam has no aperiri sanctus ei mea per pertinax</a></li>
          <li><a href="#">Te malorum dignissim eos quod sensibus</a></li>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="widget">
        <!-- logo -->
        <a class="brand logo" href="index.html">
          <img src="assets/img/logo.png" alt="" />
        </a>
        <!-- end logo -->
     <!--   <address>
          <strong>Registered Companyname, Inc.</strong><br>
          8895 Somename Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890 </address>-->
      </div>
    </div>
  </div>
</div>
<div class="verybottom">
  <div class="container">
    <div class="row">
      <div class="span6">
        <p>
          &copy; RectaSolutions 2017 - All right reserved
        </p>
      </div>

    </div>
  </div>
</div>
</footer>
